@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #1f2937;
  --text-color: #f4f4f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
